<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>energyspazr.com</title>
    <meta name="description" content="Perspective Page View Navigation: Transforms the page in 3D to reveal a menu" />
    <meta name="keywords" content="3d page, menu, navigation, mobile, perspective, css transform, web development, web design" />
    <meta name="author" content="Codrops" />
    {% load staticfiles  %}
    <link rel="shortcut icon" type="image/png" href="{% static 'common/icon.png' %}"/>
    <link rel="shortcut icon" href="{% static 'app/images/favicon.ico' %}'">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/component.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/animate.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/hover-min.css' %}" />
    <!-- csstransforms3d-shiv-cssclasses-prefixed-teststyles-testprop-testallprops-prefixes-domprefixes-load --> 
    <script src="{% static 'home/js/modernizr.custom.25376.js' %}"></script>

</head>
<body>
    <div id="perspective" class="perspective effect-rotateleft">
        <div class="container">
            <div class="wrapper animated zoomIn"><!-- wrapper needed for scroll -->
                <header class="codrops-header">
                    <h1 class="hvr-pulse">
                        energyspazr.com
                        <span>The quote comparison platform you've been looking for.</span>
                    </h1>	
                </header>
                <div class="main clearfix">
                    <div class="column hvr-pop">
                        <p>
                            Are you a supplier of solar and smart energy products? <br />
                            Or perhaps an installer of solar and smart energy products? <br />
                            Maybe both? <br />
                            Are you a financier of solar and smart energy projects? <br />
                            
                        </p>
                    </div>
                    <div class="column">
                        <nav class="codrops-demos">
                            <a class="hvr-pop" href="{% url 'signup' %}">Supplier</a>
                            <a class="hvr-pop" href="{% url 'signup' %}">Installer</a>
                            <a class="hvr-pop" href="{% url 'signup' %}">Financier</a>
                        </nav>
                    </div>
                    <div class="related">
                        
                        <p class="hvr-pulse">
                            <i>
                                Powered by <a href="http://www.itechhub.co.za" target="_blank">iTechHub</a>
                            </i>
                        </p>
                    </div>
                </div><!-- /main -->
            </div><!-- wrapper -->
        </div><!-- /container -->
    </div><!-- /perspective -->
    <script src="{% static 'home/js/classie.js' %}"></script>
    <script src="{% static 'home/js/menu.js' %}"></script>
</body>
</html>