<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'common/icon.png' %}"/>
    <title>
      {% block title %}
      energyspazr.com
      {% endblock%}
    </title>
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/main.cs' %}s">
  </head>
  <body class="sidebar-mini fixed">
    <div class="wrapper">
      {% include "app/header_navbar.html" %} 
      {% include "app/supplier/side_navbar.html" %}
      {% block content %}
      {% endblock content %}
    </div>
    <!-- Javascripts-->
    {% include 'app/js.html' %}
    {% block extrajs %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'app/js/plugins/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">
        
        var table_my_prods = $('#table_my_products').DataTable();
        var table_all_quote = $('#table_all_quotes').DataTable();
        var table_all_quote = $('#table_all_panels').DataTable();
        
        $('#add_new_product').hide();
        $('#add_products').hide();
        $('#my_panels').hide();
        $('#edit_panel').hide();

       $('#table_my_products tbody').on( 'click', 'tr', function (e) {
            var row = $('tr', this);
            var id = row.context.attributes[0].value;
            var name = $('td', this).eq(0).text();
            var price = $('td', this).eq(1).text();

            $('#edit_prod_name').val(name);
            $('#edit_prod_price').val(price);
            $('#id_edit_prod_id').val(id);

            $('#my_products').hide();
            $('#my_panels').show();
        });

       $('#table_all_panels tbody').on( 'click', 'tr', function (e) {
            var row = $('tr', this);
            var id = row.context.attributes[0].value;
            var name = $('td', this).eq(0).text();
            var price = $('td', this).eq(1).text();

            $('#edit_prod_name').val(name);
            $('#edit_prod_price').val(price);
            $('#id_edit_prod_id').val(id);

            $('#my_panels').hide();
            $('#edit_panel').show();
        });
     
        $('#button').click( function () {
            alert( table.rows('.selected').data().length +' row(s) selected' );
        });
        
        $('#btn_add_products').click(
            function(){
                $('#btn_add_selected').addClass('disabled')
                $('#my_products').hide();
                $('#add_products').show();
            }
        );
        $('.btn_edit_product').click(
            function(){
                var name = $(this).closest('tr').find('td:nth-child(1)').text();
                var price_text = $(this).closest('tr').find('td:nth-child(2)').text();
                var price = price_text.substring(1, price_text.length);
                var id = $(this).closest('tr')[0].attributes[0].value;

                $('#edit_prod_name').val(name);
                $('#edit_prod_price').val(price);
                $('#id_edit_prod_id').val(id);

                $('#my_products').hide();
                $('#edit_product').show();
            }
        );
        $('#btn_panels_back').click(
            function(){
                $('#my_panels').hide();
                $('#my_products').show();
            }
        );
        $('#btn_add_new').click(
            function(){
                $('#my_products').hide();
                $('#add_new_product').show();
            }
        );
    </script>
    {% endblock %}
  </body>
</html>
