{% extends "app/supplier/layout.html" %}
{% block content %}
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-dashboard"></i> Products</h1>
    </div>
    <div>
      <ul class="breadcrumb">
        <li><i class="fa fa-home fa-lg"></i></li>
        <li><a href="">Products</a></li>
      </ul>
    </div>
  </div>
  <div class="row zoomIn animated">
    <div class="col-md-12 zoomIn animated card" id='my_products'>
      <div class="card-title-w-btn">
        <h3 class="title">My Products.</h3>
        <p>
          <a class="btn btn-primary icon-btn" id='btn_add_product'>
              <i class="fa fa-plus"></i>Add Item(s)
          </a>
        </p>
      </div>
      <div class="card-body">
        <table class="table table-hover table-bordered" id="table_my_products">
          <thead>
            <tr>
              <th class='col-md-10'>Product Name</th>
              <th class='col-md-2 text-center'>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Tiger Nixon</td>
              <td class='text-center'>
                <div class="btn-group">
                  <a class="btn btn-info" href="#"><i class="fa fa-lg fa-edit"></i></a>
                  <a class="btn btn-warning" href="#"><i class="fa fa-lg fa-trash"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12 zoomIn animated card" id='add_products'>
      <div class="card-title-w-btn">
        <h4 class="title">Please select product you want to add by double clicking each, then click add selected.</h4>
        <p>
          <a class="btn btn-primary icon-btn">
            <i class="fa fa-plus"></i>Add Selected
          </a>
          <a class="btn btn-warning icon-btn" id='btn_return'>
            <i class="fa fa-backward"></i>Cancel
          </a>
        </p>
      </div>
      <div class="card-body">
        <table class="table table-hover table-bordered" id="table_add_products">
          <thead>
            <tr>
              <th class='col-md-10'>Product Name</th>
              <th class='col-md-2 text-center'>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Tiger Nixon</td>
              <td class="text-center">
                <div class="btn-group">
                  <a class="btn btn-info" href="#"><i class="fa fa-lg fa-edit"></i></a>
                  <a class="btn btn-warning" href="#"><i class="fa fa-lg fa-trash"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
