{% extends "app/supplier/layout.html" %}

{% block content %}
      
      <div class="content-wrapper">
        <div class="page-title">
          <div>
            <h1><i class="fa fa-dashboard"></i> My Quotes</h1>
          </div>
          <div>
            <ul class="breadcrumb">
              <li><i class="fa fa-home fa-lg"></i></li>
              <li><a href="">Dashboard</a></li>
            </ul>
          </div>
        </div>
        <div class="row col-md-12 zoomIn animated" id='all_quotes'>
            <div class="panel panel-primary">
              <div class="panel-body">
                <table class="table table-hover table-bordered" id="table_all_quotes">
                  <thead>
                    <tr>
                      <th data-field="quote_num" class='col-md-3 text-center'>Quote No.</th>
                      <th data-field="quote_client" class='col-md-3 text-center'>Client</th>
                      <th data-field="quote_date" class='col-md-3 text-center'>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for o,c in data %}
                    <tr value={{ product.pk }}>
                      <td class="text-center">{{ o.order_number_id }}</td>
                      <td class="text-center">{{ c.firstname }} {{ c.lastname }}</td>
                      <td class="text-center">{{ o.date }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
        </div>
          
        <div class="row col-md-12 zoomIn animated" id='view_quote'>
            <div class="bs-component col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title text-center">System Details</h3>
                    </div>
                    <div class="panel-body">
                        hdhshs
                    </div>
                </div>
            </div>
            <div class="bs-component col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title text-center">Client Details</h3>
                    </div>
                    <div class="panel-body">
                        {% for c, a in address %}
                        <h4 class="col-sm-6 text-center"> {{ c.firstname }} </h4>
                        <h4 class="col-sm-6 text-center"> {{ c.lastname }} </h4>
                        <h4 class="col-sm-6 text-center"> {{ c.username }} </h4>
                        <h4 class="col-sm-6 text-center"> {{ c.contact_number }} </h4>
                        <h4 class="col-sm-6 text-center"> {{ a.building_name }} </h4>
                        <h4 class="col-sm-6 text-center"> {{ a.street_name }} </h4>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="bs-component col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title text-center">Quote Statistics</h3>
                    </div>
                    <div class="panel-body">
                        <h3>Names</h3>
                    </div>
                </div>
            </div>
        </div>
      </div>
  
  {% endblock content %}