{% extends "app/supplier/layout.html" %}

{% block content %}
      
      <div class="content-wrapper">
        <div class="page-title">
          <div>
            <h1><i class="fa fa-dashboard"></i> My Quotes</h1>
          </div>
          <div>
            <ul class="breadcrumb">
              <li><i class="fa fa-home fa-lg"></i></li>
              <li><a href="">My Quotes</a></li>
            </ul>
          </div>
        </div>
        <div class="row col-md-12 zoomIn animated" id='all_quotes'>
            <div class="panel panel-primary">
              <div class="panel-body">
                <table class="table table-hover table-bordered" id="table_all_quotes">
                  <thead>
                    <tr>
                      <th data-field="quote_num" class='col-md-3 text-center'>Quote No.</th>
                      <th data-field="quote_client" class='col-md-3 text-center'>Client</th>
                      <th data-field="quote_date" class='col-md-3 text-center'>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for o,c in data %}
                    <tr value={{ product.pk }}>
                      <td class="text-center">{{ o.order_number_id }}</td>
                      <td class="text-center">{{ c.firstname }} {{ c.lastname }}</td>
                      <td class="text-center">{{ o.date }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
        </div>
          
          <div class="bs-component col-md-6 zoomIn animated" id='system_details'>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title text-center">System Details</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                          <tbody>
                            <tr>
                              <td id="c_firstname" class="text-center"></td>
                              <td id="c_lastname" class="text-center"></td>
                            </tr>
                            <tr>
                              <td id="c_username" class="text-center"></td>
                              <td id="c_contact_number" class="text-center"></td>
                            </tr>
                            <tr>
                              <td id="a_building_name" class="text-center"></td>
                              <td id="a_street_name" class="text-center"></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="bs-component col-md-6 zoomIn animated" id='client_details'>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title text-center">Client Details</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                          <tbody>
                            <tr>
                              <td id="c_firstname" class="text-center"></td>
                              <td id="c_lastname" class="text-center"></td>
                            </tr>
                            <tr>
                              <td id="c_username" class="text-center"></td>
                              <td id="c_contact_number" class="text-center"></td>
                            </tr>
                            <tr>
                              <td id="a_building_name" class="text-center"></td>
                              <td id="a_street_name" class="text-center"></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="bs-component col-md-12 zoomIn animated" id='quotes_stats'>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title text-center">Quote Statistics</h3>
                    </div>
                    <div class="panel-body">
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
  
  {% endblock content %}