{% extends "app/supplier/layout.html" %}

{% block content %}
      
      <div class="content-wrapper">
        <div class="page-title">
          <div>
            <h1><i class="fa fa-dashboard"></i> My Quotes</h1>
          </div>
          <div>
            <ul class="breadcrumb">
              <li><i class="fa fa-home fa-lg"></i></li>
              <li><a href="">My Quotes</a></li>
            </ul>
          </div>
        </div>
        <div class="row col-md-12 zoomIn animated" id='all_quotes'>
            <div class="panel panel-primary">
              <div class="panel-body">
                <table class="table table-hover table-bordered" id="table_all_quotes">
                  <thead>
                    <tr>
                      <th data-field="quote_num" class='col-md-3 text-center'>Quote No.</th>
                      <th data-field="quote_client" class='col-md-3 text-center'>Client</th>
                      <th data-field="quote_date" class='col-md-3 text-center'>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for o,c in data %}
                    <tr value={{ product.pk }}>
                      <td class="text-center">{{ o.order_number_id }}</td>
                      <td class="text-center">{{ c.firstname }} {{ c.lastname }}</td>
                      <td class="text-center">{{ o.date }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
        </div>
          
          <div class="bs-component col-md-6 zoomIn animated" id='system_details'>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title text-center">System Details</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                          <tbody>
                            <tr>
                              <td class="text-right">Order Number</td>
                              <td id="order_number" class="text-left"></td>
                            </tr>
                            <tr>
                              <td class="text-right">Need Finance?</td>
                              <td id="need_finance" class="text-left"></td> 
                            </tr>
                            <tr>
                              <td class="text-right">Property Type</td>
                              <td id="property_type" class="text-left"></td> 
                            </tr>
                            <tr>
                              <td class="text-right">Roof Inclination</td>
                              <td id="roof_inclination" class="text-left"></td> 
                            </tr>
                            <tr id="_use">
                              <td class="text-right">Intended Use</td>
                              <td id="intended_use" class="text-left"></td> 
                            </tr>
                            <tr id="_visit">
                              <td class="text-right">Site Visit?</td>
                              <td id="site_visit" class="text-left"></td> 
                            </tr>
                            <tr id="_number">
                              <td class="text-right">Number of Users</td>
                              <td id="users_number" class="text-left"></td> 
                            </tr>
                            <tr id="_size">
                              <td class="text-right">Required Geyser Size</td>
                              <td id="required_geyser_size" class="text-left"></td> 
                            </tr>
                            <tr id="_collector">
                              <td class="text-right">Water Collector</td>
                              <td id="water_collector" class="text-left"></td> 
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="bs-component col-md-6 zoomIn animated" id='client_details'>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title text-center">Client Details</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                          <tbody>
                            <tr>
                              <td class="text-right">Names</td>
                              <td id="c_names" class="text-left"></td>
                            </tr>
                            <tr>
                              <td class="text-right">Email</td>
                              <td id="c_email" class="text-left"></td>
                            </tr>
                            <tr>
                              <td class="text-right">Number</td>
                              <td id="c_contact_number" class="text-left"></td>
                            </tr>
                            <tr>
                              <td class="text-right">Building Name</td>
                              <td id="a_building_name" class="text-left"></td>
                            </tr>
                            <tr>
                              <td class="text-right">Street Name</td>
                              <td id="a_street_name" class="text-left"></td>
                            </tr>
                            <tr>
                              <td class="text-right">Suburb</td>
                              <td id="a_suburb" class="text-left"></td>
                            </tr>
                            <tr>
                              <td class="text-right">City</td>
                              <td id="a_city" class="text-left"></td>
                            </tr>
                            <tr>
                              <td class="text-right">Province</td>
                              <td id="a_province" class="text-left"></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="bs-component col-md-12 zoomIn animated" id='quotes_stats'>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title text-center">Quote Statistics</h3>
                    </div>
                    <div class="panel-body">
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
  
  {% endblock content %}