{% extends "app/auth_layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap-select.css' %}">
{% endblock %}
{% block content %}
<section class="login-content">
    <div class="logo">
        <h1>energyspazr.com</h1>
    </div>
    <div class="col-md-4 animated zoomIn">
        <div class="card login-box">
            {% crispy form %}
        </div>
    </div>
</section>
{% endblock %}

{% block extrajs %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'app/js/plugins/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/bootstrap-select.js' %}"></script>
{% endblock%}
{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
