{% extends "app/auth_layout.html" %}
{% load i18n %}

{% block content %}
    <div class="login-box wide card text-center animated zoomIn" style="min-height: 300px;">
        <div class="col-md-12">
            <h3 class="card-title">Password Reset Email Send</h3>
            
            <div class="card-body">
                <h4>
                    We have sent you an email with a link to reset your password.
                </h4>
                <h4>
                    Please check your email and click the link to continue.
                </h4>
                <br />
            </div>
            
            <div class="card-footer">
                <a class="btn btn-primary" href="{% url 'home' %}">
                    Okay
                </a>
            </div>
        </div>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
