{% extends "app/auth_layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="login-box wide card text-center animated zoomIn" style="min-height: 200px;">
        <div class="col-md-12">
            <h3 class="card-title">
                    We'll send you another account activation link.
            </h3>
            
            <div class="card-body">
                {% crispy form %}
            </div>
        </div>
    </div>
-->
{% endblock %}


{% comment %}
**registration/resend_activation_form.html**
Used to show the form users will fill out to resend the activation email. By
default, has the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
