{% extends "app/auth_layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block css%}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap-select.css' %}">
{% endblock %}

{% block content %}

    <div class="login-box card text-center animated bounceIn" style="min-height: 200px;">
        <div class="col-md-12">
            <h3 class="card-title">
                    Select all the components you want.
            </h3>
            
            <div class="card-body">
                {% crispy form %}
            </div>
        </div>
    </div>
<!--
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Submit' %}" />
</form>
-->
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'app/js/bootstrap-select.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/bootstrap-select.js' %}"></script>
<script type="text/javascript">
    $('#id_property_type').select2();
</script>
{% endblock%}

{% comment %}
**registration/resend_activation_form.html**
Used to show the form users will fill out to resend the activation email. By
default, has the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
