<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    {% block css %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'common/icon.png' %}"/>
    {% endblock %}
    <title>
        energyspazr.com
    </title>
  </head>
  <body>
    <section class="material-half-bg">
      <div class="cover">
        <section class="login-content">
            <div class="logo">
                <h1>
                  <a class='hvr-grow' href="{% url 'home' %}"> energyspazr.com </a>
                </h1>
            </div>
            
            {% block content %}
            {% endblock %}
            
         </section>
      </div>
    </section>
  </body>
    {% include 'app/js.html' %}
  {% block extrajs %}
  {% endblock %}
</html>