{% extends "app/auth_layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-5 animated card zoomIn">
        <div class="card-title-w-btn">
          <h3 class="title">Let's add the components</h3>
          <p><a class="btn btn-primary icon-btn" href="{% url 'add-component' %}"><i class="fa fa-plus"></i>Add Item</a></p>
        </div>
        <div class="card-body">
            <div class="card-title-w-btn">
              <h4 class="title">Item #1</h4>
              <div class="btn-group">
                  <a class="btn btn-info" href="#"><i class="fa fa-lg fa-edit"></i></a>
                  <a class="btn btn-warning" href="#"><i class="fa fa-lg fa-trash"></i></a></div>
            </div>
            <div class="card-title-w-btn">
              <h4 class="title">Item #2</h4>
              <div class="btn-group">
                  <a class="btn btn-info" href="#"><i class="fa fa-lg fa-edit"></i></a>
                  <a class="btn btn-warning" href="#"><i class="fa fa-lg fa-trash"></i></a></div>
            </div>
        </div>
        
        <div class="card-footer">
            <div class="col-md-2"></div>
            <div class="col-md-4">
            <a class="btn btn-warning btn-block" href="{% url 'our-products' %}">
                Cancel
            </a>
            </div>
            <div class="col-md-4">
                
            <a class="btn btn-primary btn-block" href="{% url 'client-info' %}">
                Proceed
            </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'app/js/plugins/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/plugins/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript">
    $('#id_property_type').select2();
    $('#id_roof_inclination').select2();
    $('#id_existing_geyser').select2();
    $('#id_water_collector').select2();
    $('#id_required_geyser_size').select2();
    $('#id_include_installation').select2();
    $('#id_need_finance').select2();
</script>
{% endblock%}

{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
