{% extends "app/auth_layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block css%}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap-select.css' %}">
{% endblock %}
{% block content %}
    <div class="col-md-6 animated zoomIn">
            {% crispy form %}
    </div>
{% endblock %}
{% block extrajs %}s
<script type="text/javascript" src="{% static 'app/js/plugins/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/plugins/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/bootstrap-select.js' %}"></script>
<script type="text/javascript">
    $('#id_property_type').select2();
    $('#id_roof_inclination').select2();
    $('#id_intended_use').select2();
    $('#id_site_visit').select2();
    $('#id_include_installation').select2();
    $('#id_need_finance').select2();
</script>
<script type="text/javascript">
    $('.finish_order').hide();
    $('#proceed').click(function(){
        $('.finish_order').show();
        $('#targetElement').hide();
    });
</script>
{% endblock%}

{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
